/* Import Poppins and PT Mono fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: #6DC7BE;
		--color-primary-2: #F0B492;
		--color-primary-3: #013240;

		--color-secondary: #1D5060;
		--color-secondary-2: #F7F9FA;
		--color-secondary-3: #FFE98A;
		--color-secondary-4: #D1BCF4;
		--color-secondary-5: #FFD1B6;
		--color-secondary-6: #424242;
		--color-secondary-7: #8A8989;
		--color-secondary-8: #BDBDBD;
		--color-secondary-9: #DCDBDB;
		--color-secondary-10: #E9E9E9;

		--font-sans-serif: 'Poppins', sans-serif;
		--font-monospace: 'PT Mono', monospace;
	}
}

body {
	font-family: var(--font-sans-serif);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header-1 {
	font-family: var(--font-sans-serif);
	font-weight: bold;
	font-size: 40px;
}

.header-2 {
	font-family: var(--font-sans-serif);
	font-weight: bold;
	font-size: 34px;
}

.header-3 {
	font-family: var(--font-sans-serif);
	font-weight: bold;
	font-size: 28px;
}

.header-4 {
	font-family: var(--font-sans-serif);
	font-weight: bold;
	font-size: 16px;
}

.text-default {
	font-family: var(--font-sans-serif);
	font-weight: normal;
	font-size: 15px;
}

.text-form {
	font-family: var(--font-sans-serif);
	font-weight: 500;
	font-size: 16px;
}

.text-subtitle {
	font-family: var(--font-sans-serif);
	font-weight: 500;
	font-size: 12px;
}

.text-button {
	font-family: var(--font-sans-serif);
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.text-banner {
	font-family: var(--font-sans-serif);
	font-weight: 600;
	font-size: 13px;
}

.text-tag {
	font-family: var(--font-monospace);
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
}

.main-heading {
	font-size: 40px;
	letter-spacing: -0.8px;
	line-height: 54px;
	margin-bottom: 1rem;
}

.text-color-dark {
	color: var(--color-primary-3);
	font-weight: 600;
}

.text-color-orange {
	color: var(--color-primary-2);
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	padding: 2rem 3.5rem;
}

#homeSearch.form-control {
    margin-right: -1px;
    margin-bottom: -0.5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: auto;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    color: #a6b2b8;
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0 !important;

}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}